$black: #000;

$base: #fffcf7;
$gold: #886e17;

$red: #c75252;
$white: #fffdf7;
$face: #fff0dd;
$gray: #ebe6d9;
$pink: #f7d7c9;

$tree-d: #577e2f;
$tree-m: #85ac48;
$star: #ddb530;
$light-star: #eec511;

$brown: #534a44;
$mocha: #8f7c76;

$shadow: rgba($black, 0.1);

$cursor-gold: #77621d;
